@font-face {
    font-family: 'CookieRun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}


*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    
}

.hero {
    min-height: 620px;
    padding: 80px 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.hero-text {
    max-width: 600px;
}


.main_content{
    display: flex;
    position: absolute;
    top: 170px;
    left: 300px;
}


#main-img{
    border-radius: 20px;
    width: clamp(200px,35vw,1000px);
    box-shadow: 0px 8px 10px black;
}
#main_text{
    color: whitesmoke;
}

main{
    background-color: #323232;
    background-image: url('../imgs/메인\ 배경.png');
    min-height: 120vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main_menu{
    display: flex;

    padding-top: 29%;
    justify-content: center;
    
}

.card_element{
    border-radius: 10%;
    
    margin: 10px;
    padding: 12px;
    background-color: white;
    margin-right: 80px;

    transition: 0.3s ease;
}
.card_element:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 12px rgba(0,0,0,10);
}
.card_element>a{
    color: black;
}
.card_element>a>img{
    width: clamp(200px,15vw,1000px);
    border-radius: 10%;
}

.card_circuit{
    
    border-radius: 10%;
    
    
    margin: 10px;
    padding: 10px;
    background-color: white;

    transition: 0.3s ease;
}

.card_circuit:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 12px rgba(0,0,0,10);
}

.card_circuit>a{
    color: black;
}
.card_circuit>a>img{
    width: clamp(200px,20vw,1000px);
    
    border-radius: 10%;
    
}