@font-face {
    font-family: 'CookieRun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}


*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.hero {
    min-height: 620px;
    padding: 80px 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.hero-text {
    max-width: 600px;
}

main{
    background-color: #323232;
}