*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a{
    color: black;
}


main{
    background-color: #323232;
    background-image: url('/Circuit_Design/imgs/센서\ 선택\ 배경.png');
    min-height: 120vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}


.first{
    display: flex;

    padding-top: 13%;
    padding-left: 17%;
}




#card_ultrasonic{
    width: fit-content;
    
    border-radius: 10%;
    
    
    margin: 10px;
    padding: 10px;
    background-color: white;

    transition: 0.3s ease;


}

#card_ultrasonic:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 12px rgba(0,0,0,10);
}



#card_ultrasonic>a>img
{
    width: clamp(200px,10vw,1000px);
    
    border-radius: 10%;
    
}
